/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07 Jul 2021, 15:36:27
    Author     : user
*/

body {
    background-color: black;
}

p {
    color: white;
    text-align: center;
    font-family: impact;
}

nav {
    display: flex;
    background-color: darkred;
    border-radius: 5px;
    height: 30px;
    text-indent: 10px;
    align-items: center;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: white;
}

h1 {
    color: white;
    text-align: center;
}

th {
    color: white
}

table {
    border-spacing: 20px;
}

button {
    border-radius: 5px;
    background-color: darkred;
    color: white;
    width: 80px;
    height: 30px;
}

legend {
    color: white;
}